@import 'base';

.input {
    border-radius: 10px;
    padding: 8px;
    font-size: 18pt;
    border: 1px solid $inactive-outline;
    background: $secondary;
    color: $text;
    font-family: 'Comfortaa';
    width: 100%;
    font-weight: lighter;

    &::placeholder {
        color: rgba($text, 0.5);
    }

    &:focus {
        outline: solid 1px $outline;
    }
}
