@import 'base';

.button {
    padding: 12px 35px;
    background: $foreground;
    border: solid 1px $secondary;
    color: white;
    width: fit-content;
    border-radius: 10px;
    outline: none;
    font-size: 18pt;
    font-weight: lighter;
    height: fit-content;
    transition: 200ms ease-out;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }

    &:focus {
        filter: brightness(1.2);
        outline: solid 1px $outline;
    }
}

.iconButton {
    padding: 12px;
    font-size: 0;
}

.primary {
    background: $primary;
    border: none;
}

.disabled, .disabled:hover {
    filter: grayscale(1) brightness(0.9);
    cursor: not-allowed;
}

.white {
    filter: contrast(0) brightness(2);
}
