@import 'base';

.button {
    padding: 12px 35px;
    background: $foreground;
    border: solid 1px $secondary;
    color: white;
    width: fit-content;
    border-radius: 10px;
    outline: none;
    font-size: 18pt;
    font-weight: lighter;

    &:hover {
        cursor: pointer;
        filter: brightness(1.1);
    }

    &:focus {
        filter: brightness(1.1);
        outline: solid 1px $outline;
    }
}

.iconButton {
    padding: 12px;
    font-size: 0;
}

.primary {
    background: $primary;
    border: none;
}
