@import 'base';

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: $foreground;
    display: flex;
    flex-direction: column;

    .closeNavmenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($background, 0.5);
        backdrop-filter: blur(5px);
        pointer-events: none;
        transition: 200ms;
        opacity: 0;
    }

    .navmenu {

        z-index: 100;

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50px;
        transition: left .3s ease-out;

        .tab {
            position: absolute;
            overflow: hidden;
            cursor: pointer;
            width: 100%;
            height: 100%;

            &::before {
                position: absolute;
                min-width: 200%;
                min-height: 110vh;
                background-color: $background;
                border-radius: 100%;
                content: ' ';
                border: solid 2px $foreground-light;
                box-sizing: border-box;
                transform: translate(-50%, -4.5%);
                top: 0;
                left: 0;
            }

            &:hover .button {
                filter: brightness(1.2);
            }

            .button {
                width: 35px;
                height: 170px;
                border-radius: 100%;
                position: absolute;
                right: 9px;
                top: 50%;
                background: $background;
                box-sizing: border-box;
                border: $foreground-light 1px solid;
                transform: translateY(-50%);
                display: flex;

                p {
                    text-align: center;
                    margin: auto;
                    font-size: 24pt;
                    transition: transform .3s ease-out;
                }
            }

            &:focus {
                outline: none;

                .button {
                    border-color: $outline;
                }
            }

        }

        .navmenuContent {
            position: absolute;
            width: 350px;
            background-color: $background;
            right: 50px;
            height: 100%;
            padding-top: 70px;
            padding-left: 30px;
            font-size: 24pt;
            text-align: right;
            display: flex;
            flex-direction: column;

            .menu {
                margin-bottom: 15px;
                color: $inactive-outline;

                &:hover, &:focus {
                    outline: none;
                    text-decoration: underline;
                    cursor: pointer;
                    filter: brightness(1.2);
                    transition: 200ms ease-out;
                }
            }

            .menuDelete {
                margin-top: auto;
                margin-bottom: 50px;
                color: $red;
            }

            .chosen {
                color: $text;
            }
        }

    }

    .navmenuOpen {
        left: 350px;

        .tab .button p {
            transform: rotate(180deg);
        }

        .closeNavmenu {
            opacity: 1;
            pointer-events: all;
        }
    }

    .content {
        padding: 40px 70px;
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

}
