@import 'base';

.content {
    height: calc(100vh - 275px);

    h4 {
        font-weight: lighter;
        color: rgba($text, 0.5);
        margin: 10px 0;
    }

    .chromosomeCell, .chromosomeView span {
        display: flex;
        padding: 0 !important;
        text-align: center;

        .chromosomePart {
            width: 100%;
            padding: 0.5em 0;
        }
    }

    .chromosomeView {
        position: relative;
        width: fit-content;
        margin: auto;

        span {
            
            width: 900px;
            margin: auto;
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .btnBack {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(calc(100% + 20px), -50%);
        }
    }

    .table {
        max-height: 90%;

        .rowClass {
            
            &:hover {
                background: $foreground-light;
                cursor: pointer;

                .chromosomeCell {
                    filter: brightness(1.1);
                }
            }
        }
    }

    .popup {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($background, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;

        .popupClose {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .contentPopup {
            position: absolute;
            padding: 50px;
            background: $foreground;
            width: 1200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 10px;
            border: solid 1px $inactive-outline;
            display: flex;
            flex-direction: column;

            .backButton {
                position: absolute;
                top: 20px;
                left: 20px;
            }

            h2 {
                margin-top: 0;
                text-align: center;
            }

            .descriptionMutation {
                position: relative;
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(40px,-50%);
                    margin: 0;
                }
            }

            .descriptionCrossover {
                position: relative;
                .left {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-100% - 40px), -50%);
                }
                .right {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(40px,-50%);
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: auto;

                p {
                    font-size: 14pt;
                    width: 45%;
                    display: flex;
                    margin: 5px 0;
                    
                    span {
                        margin-left: auto;
                        color: $outline;
                    }
                }
            }

        }


    }

}
