.content {
    height: calc(100vh - 275px);

    .table {
        max-height: 95%;

        .chromosomeCell {
            display: flex;
            padding: 0 !important;

            .chromosomePart {
                width: 100%;
                padding: 0.5em 0;
            }
        }
    }
}
