@import 'base';

.content {
    height: calc(100vh - 275px);

    h4 {
        font-weight: lighter;
        color: rgba($text, 0.5);
        margin: 10px 0;
    }

    .table {
        max-height: 90%;

        .rowClass:hover {
            background: $foreground-light;
            cursor: pointer;
        }

        .chromosomeCell {
            display: flex;
            padding: 0 !important;

            .chromosomePart {
                width: 100%;
                padding: 0.5em 0;
            }
        }
    }
}
