@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Comfortaa-Light.ttf');
}
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/SemiBold.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Comfortaa-Bold.ttf');
}

